<div class="character-div">
  <img src="{{ character().image }}" alt="" class="profile-pic" />
  <div class="properties-section">
    <div class="name">Name: {{ character().name }}</div>
    <div class="property">Gender: {{ character().gender }}</div>
    <div class="property">Species: {{ character().species }}</div>
  </div>
  <div class="properties-section">
    <div class="property">Status: {{ character().status }}</div>
    <div class="property">type: {{ character().type }}</div>
  </div>
  <div class="action-section">
    <span class="edit" (click)="openEditor()"></span>
    <span class="delete" (click)="deleteCharacter()"></span>
  </div>
</div>
